<header class="header">
	<div class="nav">
		<h1 class="nav-title hvr-buzz-out" ui-sref="app.invoices">crunch <i class="r">L</i><i class="y">i</i><i class="b">t</i><i class="g">e</i></h1>
		<div class="user" ng-cloak>Welcome {{pagevm.currentUser.name}}</div>
	</div>
	<div class="loading" ng-show="pageLoading">Loading...</div>
</header>

<div class="container" ui-view></div>

<footer class="footer text-center">
	CrunchLite | Jesse Baker | {{ pagevm.currentDate | date:'yyyy'}}
</footer>