<div class="content-container">
	<h2 class="n-m-t">Your Invoices</h2>
	<form action="" class="form table-filter clearfix">
		<input type="text" class="search" placeholder="Search description" ng-model="vm.filters.search" aria-label="Search invoices">
		<select class="filter" ng-options="option.value as option.label for option in vm.filterOptions" ng-model="vm.filters.paid" aria-label="Filter by paid/unpaid"></select>
	</form>
	<div class="table-wrapper">
		<table class="table invoices-table">
			<thead>
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>Unpaid Amounts</th>
				<th>Paid Amounts</th>
				<th colspan="2"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="invoice in vm.filteredInvoices = (vm.invoices | searchFilter: vm.filters)" ng-class="{paid : invoice.paid}">
				<td>
					<span class="date long-date">{{invoice.date | date : 'longDate'}}</span>
					<span class="date short-date">{{invoice.date | date : 'shortDate'}}</span>
				</td>
				<td class="description">{{invoice.description}}</td>
				<td>{{(invoice.paid ? '' : invoice.amount | currency)}}</td>
				<td>{{(invoice.paid ? invoice.amount : '' | currency)}}</td>
				<td class="text-right button-container">
					<button class="btn paid-button" ng-click="vm.markInvoicePaid(invoice)">
						<span ng-if="!invoice.paid">Mark Paid</span>
						<span ng-if="invoice.paid">Mark Unpaid</span>
					</button>
				</td>
				<td class="text-right button-container"><button class="btn" ui-sref="app.invoice_edit({id: invoice.id})">Edit</button></td>
			</tr>
			<tr ng-if="vm.invoices.length && !vm.filteredInvoices.length">
				<td colspan="6">
					<p>No invoices found. Try changing your search options.</p>
				</td>
			</tr>
			<tr ng-if="!vm.invoices.length">
				<td colspan="6">
					<p>You don't have any invoices yet.</p>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<p class="text-right">
		<button class="btn add-new" ui-sref="app.invoice_create">Add a new invoice</button>
	</p>
</div>