<div class="content-container">
	<h2 class="n-m-t page-title" ng-if="vm.editing">Edit Invoice <small>#{{vm.invoice.id}}</small></h2>
	<h2 class="n-m-t" ng-if="!vm.editing">New Invoice</h2>
	<form novalidate class="form" name="vm.invoiceForm" ng-submit="vm.saveInvoice()">
		<label for="description">
			Description
		</label>
		<input type="text" name="description" id="description" required ng-model="vm.invoice.description" ng-maxlength="300">
		<div class="errors" ng-messages="vm.invoiceForm.description.$error"  ng-show="vm.invoiceForm.description.$touched">
			<p ng-message="maxlength">Your description is too long. It must be fewer than 300.</p>
			<p ng-message="required">A description is required.</p>
		</div>


		<label for="date">
			Date
		</label>
		<input type="text" id="date" name="date" pick-a-date="date" pick-a-date-options="vm.dateOptions" placeholder="Select Date" ng-model="vm.invoice.date" required>
		<div class="errors" ng-messages="vm.invoiceForm.date.$error" ng-show="vm.invoiceForm.date.$touched">
			<p ng-message="required">A date is required.</p>
		</div>

		<label for="amount">
			Amount (in &pound;)
		</label>
		<input type="number" step="0.01" name="amount" id="amount" required ng-min="0" ng-model="vm.invoice.amount">
		<div class="errors" ng-messages="vm.invoiceForm.amount.$error" ng-show="vm.invoiceForm.amount.$touched">
			<p ng-message="min">The amount must be a positive number.</p>
			<p ng-message="required">Am amount is required.</p>
		</div>

		<p class="text-right">
			<a class="form-back-link" ui-sref="app.invoices">Cancel</a>
			<button class="btn save" ng-disabled="vm.invoiceForm.$invalid" ng-if="vm.editing">Save invoice</button>
			<button class="btn save" ng-disabled="vm.invoiceForm.$invalid" ng-if="!vm.editing">Add a new invoice</button>
		</p>
	</form>
</div>