.btn {
	font-weight: 400;
	background-color: #fff;
	border: 1px solid #d4d7d8;
	-webkit-box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.2) inset;
	box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.2) inset;
	color: #2c2f2f;
	outline-color: #44c0f3;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-clip: padding-box;
	display: inline-block;
	cursor: pointer;
	padding: .5em;
	line-height: 1em;
	text-decoration: none;
}
.btn:hover {
	-webkit-box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.4) inset;
	box-shadow: 0px -0.1em 0px 0px rgba(0,0,0,0.4) inset;
}
.btn[disabled] {
	color: @content-border-color;
	background: @body-bg-color;
	cursor: not-allowed;
}

.btn.paid-button {
	min-width: 88px;
	@media all and (min-width: 900px) {
		min-width: 110px;
	}
}