.form {
	input {
		border: 1px solid @content-border-color;
		padding: 0.5em 0.7em;
		width: 100%;
		height: 40px;
	}
	select {
		border: 1px solid @content-border-color;
		padding: 0.5em 0.7em;
		width: 100%;
		height: 40px;
	}
	label {
		display: block;
		width: 100%;
		margin-bottom: 0.2em;
		margin-top: 1em;
	}
	.errors {
		p {
			color: red;
		}
	}
	.form-back-link {
		margin-right: 2em;
	}
}

.table-filter {
	display: block;
	width:100%;
	input.search {
		float: right;
		margin-bottom: 1em;
		@media all and (min-width: 900px) {
			width: 250px;
		}
	}
	select.filter {
		float: right;
		margin-bottom: 1em;
		@media all and (min-width: 900px) {
			margin: 0 1em 1em 0;
			width: 250px;
		}
	}
}