/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  box-sizing: border-box;
}
body {
  padding: 6em 0 0 0;
  font-family: sans-serif;
  background-color: #F4F5F5;
}
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #2C2F2F;
  color: #fff;
  padding: 1em;
}
.nav .nav-title {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 2em;
  float: left;
  cursor: pointer;
}
.nav .g,
.nav .r,
.nav .y,
.nav .b {
  display: inline-block;
  color: #fff;
  margin-right: 2px;
  font-weight: normal;
  font-style: normal;
  width: 0.8em;
  font-size: 0.8em;
  text-align: center;
}
.nav .g {
  background-color: #8cc640;
}
.nav .r {
  background-color: #de133e;
}
.nav .y {
  background-color: #faad22;
}
.nav .b {
  background-color: #21a9e0;
}
.nav .user {
  clear: left;
}
@media all and (min-width: 700px) {
  .nav .user {
    clear: none;
    float: right;
  }
}
header .loading {
  position: absolute;
  text-align: center;
  background: #faad22;
  color: #fff;
  font-weight: bold;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  top: 5em;
  padding: 0.2em 0;
}
.content-container {
  background-color: #FFF;
  padding: 1em;
  margin: 1em;
  border: 1px solid #EEE;
}
.page-title small {
  color: #999;
}
.n-m-t {
  margin-top: 0;
}
.n-m-b {
  margin-bottom: 0;
}
.n-m-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.n-p-t {
  margin-top: 0;
}
.n-p-b {
  margin-bottom: 0;
}
.n-p-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.hidden {
  display: none;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(1deg);
    transform: translateX(3px) rotate(1deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-1deg);
    transform: translateX(-3px) rotate(-1deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(1deg);
    transform: translateX(3px) rotate(1deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-1deg);
    transform: translateX(-3px) rotate(-1deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(0.5deg);
    transform: translateX(2px) rotate(0.5deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-0.5deg);
    transform: translateX(-2px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(0.5deg);
    transform: translateX(2px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-0.5deg);
    transform: translateX(-2px) rotate(-0.5deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(1deg);
    transform: translateX(3px) rotate(1deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-1deg);
    transform: translateX(-3px) rotate(-1deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(1deg);
    transform: translateX(3px) rotate(1deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-1deg);
    transform: translateX(-3px) rotate(-1deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(0.5deg);
    transform: translateX(2px) rotate(0.5deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-0.5deg);
    transform: translateX(-2px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(0.5deg);
    transform: translateX(2px) rotate(0.5deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-0.5deg);
    transform: translateX(-2px) rotate(-0.5deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.table-wrapper {
  overflow-x: auto;
}
.table {
  border: 1px solid #EEE;
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  font-size: 0.8em;
}
@media all and (min-width: 900px) {
  .table {
    font-size: 1em;
  }
}
.table th {
  text-align: left;
}
.table th,
.table td {
  padding: 0.5em;
}
.table tr:nth-child(odd) td {
  background: #EEE;
}
.table td.button-container {
  text-align: right;
  width: 10px;
  white-space: nowrap;
}
.table .paid td {
  color: #8cc640;
}
.invoices-table {
  min-width: 800px;
}
.invoices-table td.description {
  text-overflow: ellipsis;
}
.invoices-table td .long-date {
  display: none;
}
@media all and (min-width: 900px) {
  .invoices-table td .short-date {
    display: none;
  }
  .invoices-table td .long-date {
    display: inline;
  }
}
.form input {
  border: 1px solid #EEE;
  padding: 0.5em 0.7em;
  width: 100%;
  height: 40px;
}
.form select {
  border: 1px solid #EEE;
  padding: 0.5em 0.7em;
  width: 100%;
  height: 40px;
}
.form label {
  display: block;
  width: 100%;
  margin-bottom: 0.2em;
  margin-top: 1em;
}
.form .errors p {
  color: red;
}
.form .form-back-link {
  margin-right: 2em;
}
.table-filter {
  display: block;
  width: 100%;
}
.table-filter input.search {
  float: right;
  margin-bottom: 1em;
}
@media all and (min-width: 900px) {
  .table-filter input.search {
    width: 250px;
  }
}
.table-filter select.filter {
  float: right;
  margin-bottom: 1em;
}
@media all and (min-width: 900px) {
  .table-filter select.filter {
    margin: 0 1em 1em 0;
    width: 250px;
  }
}
.btn {
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #d4d7d8;
  -webkit-box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.2) inset;
  color: #2c2f2f;
  outline-color: #44c0f3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  display: inline-block;
  cursor: pointer;
  padding: .5em;
  line-height: 1em;
  text-decoration: none;
}
.btn:hover {
  -webkit-box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px -0.1em 0px 0px rgba(0, 0, 0, 0.4) inset;
}
.btn[disabled] {
  color: #EEE;
  background: #F4F5F5;
  cursor: not-allowed;
}
.btn.paid-button {
  min-width: 88px;
}
@media all and (min-width: 900px) {
  .btn.paid-button {
    min-width: 110px;
  }
}
