*, *:before, *:after {
	box-sizing: inherit;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
html {
	box-sizing: border-box;
}
body {
	padding: 6em 0 0 0;
	font-family: sans-serif;
	background-color: @body-bg-color;
}
.nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: @nav-bg-color;
	color: #fff;
	padding: 1em;
	.nav-title {
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 2em;
		float: left;
		cursor: pointer;
	}
	.g, .r, .y, .b {
		display: inline-block;
		color: #fff;
		margin-right: 2px;
		font-weight: normal;
		font-style: normal;
		width: 0.8em;
		font-size: 0.8em;
		text-align: center;
	}
	.g {background-color: @brand-green;}
	.r {background-color: @brand-red;}
	.y {background-color: @brand-yellow;}
	.b {background-color: @brand-blue;}

	.user {
		clear: left;
		@media all and (min-width: 700px) {
			clear: none;
			float: right;
		}
	}

}
header .loading {
	position: absolute;
	text-align: center;
	background: @brand-yellow;
	color: #fff;
	font-weight: bold;
	width: 100px;
	left: 50%;
	margin-left: -50px;
	top: 5em;
	padding: 0.2em 0;
}
.content-container {
	background-color: @content-bg-color;
	padding: 1em;
	margin: 1em;
	border: 1px solid @content-border-color;
}
.page-title {
	small {
		color: #999;
	}
}

//Helpers
.n-m-t {
	margin-top: 0;
}
.n-m-b {
	margin-bottom: 0;
}
.n-m-tb {
	.n-m-t;
	.n-m-b;
}
.n-p-t {
	margin-top: 0;
}
.n-p-b {
	margin-bottom: 0;
}
.n-p-tb {
	.n-p-t;
	.n-p-b;
}
.hidden {
	display: none;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}

// Fun

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
	-webkit-animation-name: hvr-buzz-out;
	animation-name: hvr-buzz-out;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes hvr-buzz-out {
	10% {
		-webkit-transform: translateX(3px) rotate(1deg);
		transform: translateX(3px) rotate(1deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-1deg);
		transform: translateX(-3px) rotate(-1deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(1deg);
		transform: translateX(3px) rotate(1deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-1deg);
		transform: translateX(-3px) rotate(-1deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(0.5deg);
		transform: translateX(2px) rotate(0.5deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-0.5deg);
		transform: translateX(-2px) rotate(-0.5deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(0.5deg);
		transform: translateX(2px) rotate(0.5deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-0.5deg);
		transform: translateX(-2px) rotate(-0.5deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}

@keyframes hvr-buzz-out {
	10% {
		-webkit-transform: translateX(3px) rotate(1deg);
		transform: translateX(3px) rotate(1deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-1deg);
		transform: translateX(-3px) rotate(-1deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(1deg);
		transform: translateX(3px) rotate(1deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-1deg);
		transform: translateX(-3px) rotate(-1deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(0.5deg);
		transform: translateX(2px) rotate(0.5deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-0.5deg);
		transform: translateX(-2px) rotate(-0.5deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(0.5deg);
		transform: translateX(2px) rotate(0.5deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-0.5deg);
		transform: translateX(-2px) rotate(-0.5deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}