.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	padding: 0;
	font-family: sans-serif;
}
.nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #2C2F2F;
	color: #fff;
	padding: 1em;
}
.nav-title {
	color: #fff;
	margin: 0;
	padding: 0;
}
