.table-wrapper {
	overflow-x: auto;
}
.table {
	border: 1px solid @content-border-color;
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
	font-size: 0.8em;
	@media all and (min-width: 900px) {
		font-size: 1em;
	}
	th {
		text-align: left;
	}
	th, td {
		padding: @cell-padding;
	}
	tr:nth-child(odd) td {
		background: @table-alt-row-bg-color;
	}
	td.button-container {
		.text-right;
		width: 10px;
		white-space: nowrap;
	}
	.paid td {
		color: @paid-text-color;
	}
}
.invoices-table {
	min-width: 800px;
	td.description {
		text-overflow: ellipsis;
	}
	td .long-date {
		display: none;
	}
	@media all and (min-width: 900px) {
		td .short-date {
			display: none;
		}
		td .long-date {
			display: inline;
		}
	}
}