@body-bg-color: #F4F5F5;
@nav-bg-color: #2C2F2F;
@content-bg-color: #FFF;
@content-border-color: #EEE;

@brand-green: #8cc640;
@brand-yellow: #faad22;
@brand-blue: #21a9e0;
@brand-red: #de133e;

@paid-text-color: @brand-green;


//Tables
@cell-padding: 0.5em;
@table-alt-row-bg-color: @content-border-color;